.icon {
    all: unset; /* Reset all default styles */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(208, 208, 208);
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.icon:hover {
    background-color: rgb(80, 80, 80);
    transition: all 0.3s ease;

}

.icon-logo {
    transition: all 0.3s ease;
    color: white;
    font-size: 35px;
}

.icon:hover .icon-logo {
  font-size: 35px;
  transition: all 0.3s ease;
}