* {
    margin: 0;
    box-sizing: border-box;
}

.contact-grouped {
    width: 600px;
    margin: 0 auto;            /* <-- Horizontally centers the div */
    text-align: center;        /* <-- Centers the text inside */
    padding: 2rem 1rem;        /* Optional: Adds vertical spacing */
}

.contact-title {
    font-size: 45px;
    margin-bottom: 1rem;       /* Adds spacing between h2 and h3 */
}

.contact-grouped h3 {
    font-weight: 400;
    color: rgb(118, 118, 118);    /* Optional styling */
}

.contact-title-box {
  font-size: 15px;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  margin-bottom: 8px;
}

.link {
    text-decoration: none;
    color: rgb(55, 138, 255)
}